.card {
    margin: 50px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 100px;
}

.img {
    height: 600px;
}

.container {
    max-width: 600px;
}

.price {
    margin: 5px 0;
    font-size: 20px;
}

.store {
    display: flex;
    column-gap: 15px;
}