.login__btn {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin-top: 10px;
}

.login__title {
    text-align: center;
}

.button {
    width: 100px;
    margin-top: 20px;
}